
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Contact Us</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
  <link rel="icon" type="image/png" href="../static/feedback/images/icons/favicon.ico"/>
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../static/feedback/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../static/feedback/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../static/feedback/vendor/animate/animate.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../static/feedback/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../static/feedback/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../static/feedback/vendor/select2/select2.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../static/feedback/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../static/feedback/css/util.css">
  <link rel="stylesheet" type="text/css" href="../static/feedback/css/main.css">
<!--==========================================================================
</head>
<body>
	<!-- Start of ChatBot (www.chatbot.com) code -->

<!-- End of ChatBot code -->
	
  <div class="container-contact100">
    <div class="wrap-contact10">
      <form class="contact100-form validate-form">
        <span class="contact100-form-title">
          Contact Us
        </span>
        <center>
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdcGuOj5hiUqALWPKQTGUWFE8KuF82mFxtMdseiwpJPHgC7Bg/viewform?embedded=true" width="640" height="1090" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </center>
      </form>  
    </div>
  </div>

<script src="../static/feedback/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
  <script src="../static/feedback/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
  <script src="../static/feedback/vendor/bootstrap/js/popper.js"></script>
  <script src="../static/feedback/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
  <script src="../static/feedback/vendor/select2/select2.min.js"></script>
  <script>
    $(".selection-2").select2({
      minimumResultsForSearch: 20,
      dropdownParent: $('#dropDownSelect1')
    });
  </script>
<!--===============================================================================================-->
  <script src="../static/feedback/vendor/daterangepicker/moment.min.js"></script>
  <script src="../static/feedback/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
  <script src="../static/feedback/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
  <script src="../static/feedback/js/main.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
</body>
</html>