<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>iPortfolio Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/dashboard/img/favicon.png" rel="icon">
  <link href="../static/dashboard/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/dashboard/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/dashboard/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../static/dashboard/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/dashboard/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../static/dashboard/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/dashboard/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/dashboard/css/style.css" rel="stylesheet">
  <link href="../static/dashboard/css/capgemini.css" rel="stylesheet">
  <link href="../static/dashboard/css/card.css" rel="stylesheet">
  <style type="text/css">
    .rating {
      unicode-bidi: bidi-override;
      color: #c5c5c5;
      font-size: 25px;
      height: 25px;
      width: 100px;
      margin: 0 auto;
      position: relative;
      padding: 0;
      text-shadow: 0px 1px 0 #a2a2a2;
    }

    .rating-upper {
      color: #e7711b;
      padding: 0;
      position: absolute;
      z-index: 1;
      display: flex;
      top: 0;
      left: 0;
      overflow: hidden;
    }

    .rating-lower {
      padding: 0;
      display: flex;
      z-index: 0;
    }
  </style>
  <!-- =======================================================
  * Template Name: iPortfolio - v1.4.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../static/dashboard/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Alex Smith</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="index.html"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#culture"><i class="bx bx-file-blank"></i> <span>Work Culture</span></a></li>
          <li><a href="#events"><i class="bx bx-book-content"></i> Events/Competitions</a></li>
          <li><a href="#packages"><i class="bx bx-server"></i> Packages</a></li>
          <li><a href="#locations"><i class="bx bx-envelope"></i> Locations</a></li>

        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <!-- End Hero -->

  <main id="main">

    <!-- ======= Facts Section ======= -->
    <section id="culture" class="culture">
      <div class="container">
          
            <div class="col" style="text-align: center;">
             <img src="../static/dashboard/img/tata.png">
             <h2 class="text-light"><a href="index.html">Tata Consultant Services</a></h2>
            </div>
          
      </div>
    </section>

    <section id="events" class="events">
      <div class="container">

               <div class="layout-container-component aem-GridColumn aem-GridColumn--default--12">
            <div class="white img-position--">
                <div class="layoutcontainer">
                    <div class="container">
                        <div class="spacing">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
            
            <div class="title-editable aem-GridColumn aem-GridColumn--default--12">

            
        <link rel="stylesheet" href="/etc.clientlibs/nexus/clientlib-title-editable.css" type="text/css">


            <div class="section-title">
              <h2>Overview</h2>
            </div>

        </div>
        <div class="textimage aem-GridColumn aem-GridColumn--default--12">


            <div class="hyperlink">

                <div class="justifytext">
            
                
        <h1></h1>


        <div class="textimage-text">
        <div>

        <div class="hyperlink">
            
                <div>
              
        <div>
          <div class="justifytext">
                <div class="innerpage" tabindex="0">
            <span class="content-h7-freight-text-pro">Tata Consultancy Services (TCS) is an Indian multinational information technology (IT) services and consulting company, headquartered in Mumbai, Maharashtra, India. As of February 2021 TCS is largest company in the IT sector in the world by Market capitalisation of $169.2 billion. It is a subsidiary of the Tata Group and operates in 149 locations across 46 countries.</span>
            </div>
            </div>
          </div>
            </div>
        </div>
            </div>
        </div>
        </div>
        </div></div>

            
        </div>

                            
                        </div>
                    </div>
                </div>

            </div>
            

        </div> 
      
        

      </div>
    </section>

    <section class="culture" id="culture">
      <div class="container">
        <div class="section-title">
            <h2>Work Culture</h2>
          </div>
      </div>

      <div class="cmp-ReviewsFilters-singleSection">
        <div class="cmp-ReviewsFilters-heading"></div>
        <div class="cmp-TopicFilterList">
          <div class="cmp-TopicFilterList-item">
            <a href="?fcountry=IN&amp;ftopic=culture" data-tn-link="true" data-tn-element="review-filter-culture" role="link" class="icl-Button icl-Button--tertiary icl-Button--sm cmp-u-noUnderline cmp-TopicFilter"><span class="cmp-TopicFilter-rating">3.2</span><div class="cmp-TopicFilter-star"><span class="cmp-ReviewStar cmp-ReviewStar--sm cmp-ReviewStar--yellow"></span></div><span class="cmp-TopicFilter-name" data-testid="topicFilterName">Culture</span></a></div></div></div>
    </section>


    <section class="locations" id="locations">
        <div class="container">

          <div class="section-title">
            <h2>Job Roles</h2>
          </div>
          
        
        </div>
          
          <div class="row">
                    
                    <div class="section__block col-12 ">
                
      <div class="card_default card_default--hovered hover--grey card_default--grey ">
        <div class="card_default__content">
          
          <div class="card_default__tags">
                </div>

          <h3 class="card_default__title">
                    <a href="https://www.capgemini.com/in-en/jobs/apim-developer-2-to-9-years/">APIM Developer </a>
                </h3>

          
          
          
       
        </div>

          <div class="card_default__media    card_default__media--empty" style="background-image: url( ); "><!-- card_default__media -->

                <a href="https://www.capgemini.com/in-en/jobs/apim-developer-2-to-9-years/">APIM Developer | 2 to 9 years       <div class="card_default__media--inner">
              </div>
            </a>
            </div>
      </div>
              </div>
                    <div class="section__block col-12 ">
                
      <div class="card_default card_default--hovered hover--grey card_default--grey ">
        <div class="card_default__content">
          
          <div class="card_default__tags">
                </div>

          <h3 class="card_default__title">
                    <a href="https://www.capgemini.com/in-en/jobs/azure-ai-6-to-9-years-bengaluru/">IT Analyst</a>
                </h3>

          
          
          
         
        </div>

          <div class="card_default__media    card_default__media--empty" style="background-image: url( ); "><!-- card_default__media -->

                <a href="https://www.capgemini.com/in-en/jobs/azure-ai-6-to-9-years-bengaluru/">Azure AI | 6 to 9 years | Bengaluru       <div class="card_default__media--inner">
              </div>
            </a>
            </div>
      </div>
              </div>
                    <div class="section__block col-12 ">
                
      <div class="card_default card_default--hovered hover--grey card_default--grey ">
        <div class="card_default__content">
          
          <div class="card_default__tags">
                </div>

          <h3 class="card_default__title">
                    <a href="https://www.capgemini.com/in-en/jobs/adobe-aem-4-to-6-years-hyderabad-pune/">Adobe AEM | 4 to 6 years | Hyderabad &amp; Pune</a>
                </h3>

          
          
          
         
        </div>

          <div class="card_default__media    card_default__media--empty" style="background-image: url( ); "><!-- card_default__media -->

                <a href="https://www.capgemini.com/in-en/jobs/adobe-aem-4-to-6-years-hyderabad-pune/"><div class="card_default__media--inner">
              </div>
            </a>
            </div>
      </div>
              </div>
                    <div class="section__block col-12 ">
                
      <div class="card_default card_default--hovered hover--grey card_default--grey ">
        <div class="card_default__content">
          
          <div class="card_default__tags">
                </div>

          <h3 class="card_default__title">
                    <a href="https://www.capgemini.com/in-en/jobs/programmer-developer-6/">Lead System Engineer</a>
                </h3>

          
          
          
          
        </div>

          
      </div>
              </div>
                    <div class="section__block col-12 ">
                
      <div class="card_default card_default--hovered hover--grey card_default--grey ">
        <div class="card_default__content">
          
          <div class="card_default__tags">
                </div>

          <h3 class="card_default__title">
                    <a href="https://www.capgemini.com/in-en/jobs/itil-asset-and-configuration-manager-4-to-6-years-mumbai/">ITIL Asset and Configuration Manager</a>
                </h3>

          
          
          
       
        </div>

          
      </div>
              </div>
                    
                </div>

      </div>
</section>

    <section class="roles" id="roles">
        <div class="container">
          <div class="section-title">
            <h2>Job Locations</h2>
          </div>

          <div class="row">
                  <div class="section__block col-12 ">
                      
            <div class="card_default card_default--hovered hover--grey card_default--grey ">
              <div class="card_default__content">
                
                <div class="card_default__tags">
                      </div>

                <h3 class="card_default__title">
                          <a href="https://www.capgemini.com/in-en/jobs/consultant_wonderware_3-6-yrs_mumbai/">Mumbai</a>
                      </h3>

                <h3 class="card_default__title">
                          <a href="https://www.capgemini.com/in-en/jobs/consultant_wonderware_3-6-yrs_mumbai/">Pune</a>
                      </h3>

                <h3 class="card_default__title">
                          <a href="https://www.capgemini.com/in-en/jobs/consultant_wonderware_3-6-yrs_mumbai/">Kolkata</a>
                      </h3>
                
                <h3 class="card_default__title">
                          <a href="https://www.capgemini.com/in-en/jobs/consultant_wonderware_3-6-yrs_mumbai/">London</a>
                      </h3>
                <h3 class="card_default__title">
                          <a href="https://www.capgemini.com/in-en/jobs/consultant_wonderware_3-6-yrs_mumbai/">Pune</a>
                      </h3>  
                <h3 class="card_default__title">
                          <a href="https://www.capgemini.com/in-en/jobs/consultant_wonderware_3-6-yrs_mumbai/">Gurgaon</a>
                      </h3>          
            
              </div>

                
                  </div>
            </div>

          </div>
        </div>

    </section>
    <!-- End Facts Section -->
    <section class="packages" id="packages">
        <div class="container">
          <div class="section-title">
            <h2>Packages</h2>
          </div>

          <div class="row">
                  <div class="section__block col-12 ">
                      
            <div class="card_default card_default--hovered hover--grey card_default--grey ">
              <div class="card_default__content">
                
                <div class="card_default__tags">
                      </div>

                <h3 class="card_default__title">
                          <a href="https://www.capgemini.com/in-en/jobs/consultant_wonderware_3-6-yrs_mumbai/">Freshers - 3.5 LPA</a>
                      </h3>

                <h3 class="card_default__title">
                          <a href="https://www.capgemini.com/in-en/jobs/consultant_wonderware_3-6-yrs_mumbai/">Senior Associate Consultant 8.5 LPA</a>
                      </h3>

                <h3 class="card_default__title">
                          <a href="https://www.capgemini.com/in-en/jobs/consultant_wonderware_3-6-yrs_mumbai/">SSE 4.5 LPA</a>
                      </h3>
                
                <h3 class="card_default__title">
                          <a href="https://www.capgemini.com/in-en/jobs/consultant_wonderware_3-6-yrs_mumbai/">SE 4.5 LPA</a>
                      </h3>
                
              </div>

                
                  </div>
            </div>

          </div>
        </div>

    </section>
  <section class="interview" id="interview">
      <div class="container">
        <div class="container">
          <div class="section-title">
            <h2>Interview Questions</h2>
          </div>
          <div class="row">
            {% for i in interview_question %}
            <div class="section__block col-12 ">
                
      <div class="card_default card_default--hovered hover--grey card_default--grey ">
        <div class="card_default__content">
          
          <div class="card_default__tags">
                </div>

            <h3 class="card_default__title">
                      <a href="#">{{i}}</a>
                  </h3>
            
          </div>
        </div>
          
      </div>
      {% endfor %}
          </div>
            
          
      </div>
      </div>
    </section>

    <!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/dashboard/vendor/jquery/jquery.min.js"></script>
  <script src="../static/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/dashboard/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../static/dashboard/vendor/php-email-form/validate.js"></script>
  <script src="../static/dashboard/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../static/dashboard/vendor/counterup/counterup.min.js"></script>
  <script src="../static/dashboard/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/dashboard/vendor/venobox/venobox.min.js"></script>
  <script src="../static/dashboard/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../static/dashboard/vendor/typed.js/typed.min.js"></script>
  <script src="../static/dashboard/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/dashboard/js/main.js"></script>

</body>

</html>